body {
  font-family: monospace;
  background-image: url(../img/golden2.jpg);

}
.jumbotron h1 {
  font-size: 50pt;
  font-weight: bold;
  color: #27592D;
}

.jumbotron {
  margin: 20px;
  background-image: url(../img/tile.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-size: 30pt;
  color: gold;
  text-align: center;
}

#options {
  font-size: 20px;
  margin: 20px;
  padding: 10px;
}

#receipt {
  margin: 20px;
  background-color: #27592D;
  color: white;
  text-align: center;
  font-size: 20px;
}
